
html {
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
  background-color: black !important;
  overflow-x: hidden;
}

.main-screen-icon {
  background-color: white;
  border-radius: 0.2rem;
}
.sub-screen-icon {
  top: 22%;
  padding: 0.08rem;
  background-color: white;
  z-index: 1;
  border: 2px solid gray;
  border-radius: 0.2rem;
}
.sync-screen-icon {
  top: 40%;
  overflow: hidden;
  height: 50%;
  background-color:
  white;
  z-index: 1;
  border-radius: 0.2rem;
}

@media (orientation: landscape) {
  .main-container {
    background-color: black;
    overflow: hidden;
    width: 100vw;
    height: 99vh;
    position: relative;
    display: inline-block;
  }

  .sub-stream-container {
    position: absolute;
    z-index: 10;
    top: 30%;
    width: 24%;
    height: 30%;
  }
  
  .sub-stream-container iframe {
    width: 100%;
    height: 100%;
  }
  
  .main-stream-container {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  .main-stream-container iframe {
    z-index: 0;
    width: 100%;
    height: 100%;
  }
  
  .sync-mode-placeholder {
    display: none !important;
  }

  .sync-stream-container {
    position: absolute;
    top: 30%;
    width: 100%;
    height: 100%;
  }
  .sync-stream-container iframe {
    z-index: 0;
    width: 100%;
    height: 100%;
  }
  @media (min-width: 576px) and (orientation: landscape) { .sub-stream-container {width: 120px; height: 67px;} }
  @media (min-width: 768px) and (orientation: landscape) { .sub-stream-container {width: 240px; height: 135px;} }
  @media (min-width: 992px) and (orientation: landscape) { .sub-stream-container {width: 480px; height: 202px;} }
  @media (min-width: 1200px) and (orientation: landscape) { .sub-stream-container {width: 432px; height: 243px;} }

  .chat-container {
    width: 25vw;
    height: 99vh;
    position: absolute;
    right: 0;
  }
  .chat-hidden {
    display: block;
    width: 0px;
  }
  #chatToggleBtn {
    display: block;
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 20000;
  }
  .stream-with-chat {
    width: 75vw !important;
  }
  .stream-with-chat #chatToggleBtn {
    display: block;
    position: fixed;
    top: 0.5rem;
    left: 75.5vw;
    z-index: 20000;
  }
  @media (min-width: 1500px) and (orientation: landscape) { 
    .chat-container {
      width: 20vw;
    }
    .chat-hidden {
      display: block;
      width: 0px;
    }
    .stream-with-chat {
      width: 80vw !important;
    }
    .stream-with-chat #chatToggleBtn {
      display: block;
      position: fixed;
      top: 0.5rem;
      left: 80.5vw;
      z-index: 20000;
    }
  }

  #schemeBtns {
    position: fixed;
    left: 0;
    top: 30%;
    z-index: 10000;
  }
  .sub-stream-container #schemeBtns {
    position: absolute;
    top: 0;
  }

  #shiftBtns {
    position: fixed;
    top: 0.1rem;
    left: 45%;
    z-index: 10000;
  }
}

@media (orientation: portrait) {
  .main-container {
    background-color: black;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100vw;
  }
  .sub-stream-container {
    position: static;
    z-index: 10;
    width: 100%;
    height: 30vh;
  }
  .sub-stream-container iframe {
    width: 100%;
    height: 100%;
  }
  
  .main-stream-container {
    width: 100%;
    height: 30vh;
  }
  .main-stream-container iframe {
    z-index: 0;
    width: 100%;
    height: 100%;
  }
  
  .sync-stream-container {
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 30vh;
  }
  .sync-stream-container iframe {
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  .sync-mode-placeholder {
    width: 100%;
    height: 10vh;
    background-color: black;
  }

  .chat-container {
    width: 100vw;
    height: 60vh;
  }
  .chat-hidden {
    display: block;
  }
  .stream-with-chat {
    width: 100vw !important;
  }
  #chatToggleBtn {
    display: none;
  }


  #schemeBtns {
    position: fixed;
    left: 0;
    top: 30vh;
    z-index: 10000;
  }
  .sync-stream-container #schemeBtns {
    top: 10vh;
  }

  #shiftBtns {
    position: absolute;
    top: 0.1rem;
    left: 45%;
    z-index: 10000;
  }
}