.main-container {
  background-color: black;
}
@media (orientation: landscape) {
  .main-container {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
  .sub-stream-container {
    position: absolute;
    z-index: 10;
    top: 30%;
    width: 24%;
    height: 30%;
  }
  .sub-stream-container iframe {
    width: 100%;
    height: 100%;
  }
  
  .main-stream-container {
    width: 100%;
    height: 100%;
  }
  .main-stream-container iframe {
    z-index: 0;
    width: 100%;
    height: 100%;
  }
  
  .sync-mode-placeholder {
    display: none !important;
  }

  .sync-stream-container {
    position: absolute;
    top: 30%;
    width: 100%;
    height: 100%;
  }
  .sync-stream-container iframe {
    z-index: 0;
    width: 100%;
    height: 100%;
  }
}

@media (orientation: portrait) {
  .main-container {
    overflow-y: auto;
    overflow-x: hidden;
    width: 576px;
  }
  .sub-stream-container {
    position: static;
    z-index: 10;
    width: 100%;
    height: 30vh;
  }
  .sub-stream-container iframe {
    width: 100%;
    height: 100%;
  }
  
  .main-stream-container {
    width: 100%;
    height: 30vh;
  }
  .main-stream-container iframe {
    z-index: 0;
    width: 100%;
    height: 100%;
  }
  
  .sync-stream-container {
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 30vh;
  }
  .sync-stream-container iframe {
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  .sync-mode-placeholder {
    width: 100%;
    height: 10vh;
    background-color: black;
  }

  .chat-container {
    width: 100%;
    height: 70vh;
  }
}