
html {
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
  background-color: black !important;
  overflow-x: hidden;
}

.help-cross {
  position: absolute;
  right: 0.4rem;
  bottom: 0.1rem;
  color: gray;
  z-index: 1;
}
.popdown {
  display: none;
  background-color: gray;
  color: gray;
  -webkit-clip-path: polygon(8% 5%, 100% 5%, 100% 100%, 0 100%, 0 5%, 3% 5%, 5% 0);
  clip-path: polygon(8% 5%, 100% 5%, 100% 100%, 0 100%, 0 5%, 3% 5%, 5% 0);
  text-align: justify;
  text-justify: inter-word;

  padding: 0.2rem;

  position: absolute;
  z-index: -1;
  top: 4rem;
  left: 0;
  width: 17rem;
}
.popdown-inner {
  -webkit-clip-path: polygon(8% 5%, 100% 5%, 100% 100%, 0 100%, 0 5%, 3% 5%, 5% 0);
  clip-path: polygon(8% 5%, 100% 5%, 100% 100%, 0 100%, 0 5%, 3% 5%, 5% 0);
  padding: 0.7rem;
  padding-top: 1rem;

  background-color: whitesmoke;
  color: gray;
  width: 100%;
  height: 100%;
}
@media (min-width: 991.98px) { .popdown {top: 2.5rem;} }

.popleft {
  top: 0;
  left: -11rem;
  width: 10rem;

  -webkit-clip-path: polygon(100% 5%, 95% 10%, 95% 100%, 0 100%, 0 0, 95% 0, 95% 5%);
  clip-path: polygon(100% 5%, 95% 10%, 95% 100%, 0 100%, 0 0, 95% 0, 95% 5%);
}
.popleft .popdown-inner {
  -webkit-clip-path: polygon(100% 5%, 95% 10%, 95% 100%, 0 100%, 0 0, 95% 0, 95% 5%);
  clip-path: polygon(100% 5%, 95% 10%, 95% 100%, 0 100%, 0 0, 95% 0, 95% 5%);
  padding: 1rem 1rem 2rem 0.5rem;
}
.popleft .help-cross {
  right: 0.7rem;
}

.main-screen-icon {
  background-color: white;
  border-radius: 0.2rem;
}
.sub-screen-icon {
  top: 22%;
  padding: 0.08rem;
  background-color: white;
  z-index: 1;
  border: 2px solid gray;
  border-radius: 0.2rem;
}
.sync-screen-icon {
  top: 40%;
  overflow: hidden;
  height: 50%;
  background-color:
  white;
  z-index: 1;
  border-radius: 0.2rem;
}

#delayValBtn {
  opacity: 0.9 !important;
}
#chat_embed {
  width: 100%;
  height: 100%;
}

@media (orientation: landscape) {
  #replaysDropup {
    position: absolute;
    bottom: 0.25rem;
    left: 0.25rem;
    
    z-index: 30000;
  }

  .main-container {
    background-color: black;
    overflow: hidden;
    width: 100vw;
    height: 99vh;
    position: relative;
    display: inline-block;
  }

  .sub-stream-container {
    position: absolute;
    z-index: 10;
    top: 30%;
    width: 24%;
    height: 30%;
  }
  .sub-stream-container#ytPlayerContainer {
    top: 0.5rem;
    right: 5rem;
  }
  .sub-stream-container iframe {
    width: 100%;
    height: 100%;
  }
  
  .main-stream-container {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  .main-stream-container iframe {
    z-index: 0;
    width: 100%;
    height: 100%;
  }
  
  .sync-mode-placeholder {
    display: none;
  }

  .sync-stream-container {
    position: absolute;
    top: 30%;
    width: 100%;
    height: 100%;
  }
  .sync-stream-container iframe {
    z-index: 0;
    width: 100%;
    height: 100%;
  }
  @media (min-width: 600px) and (orientation: landscape) { .sub-stream-container {width: 150px; height: 85px;} }
  @media (min-width: 800px) and (orientation: landscape) { .sub-stream-container {width: 200px; height: 112px;} }
  @media (min-width: 1000px) and (orientation: landscape) { .sub-stream-container {width: 250px; height: 140px;} }
  @media (min-width: 1600px) and (orientation: landscape) { .sub-stream-container {width: 400px; height: 225px;} }

  .chat-container {
    width: 25vw;
    height: 99vh;
    position: absolute;
    right: 0;
    top: 0;
  }
  .chat-hidden {
    display: block;
    width: 0px;
  }
  #chatToggleBtn {
    display: block;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 20000;
  }
  .chat-hidden #chatToggleBtn {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    left: auto;
  }

  .stream-with-chat {
    width: 75vw !important;
  }
  .stream-with-chat #chatToggleBtn {
    display: block;
    position: fixed;
    top: 0.5rem;
    left: 75.5vw;
    z-index: 20000;
  }
  @media (min-width: 1500px) and (orientation: landscape) { 
    .chat-container {
      width: 20vw;
    }
    .chat-hidden {
      display: block;
      width: 0px;
    }
    .stream-with-chat {
      width: 80vw !important;
    }
    .stream-with-chat #chatToggleBtn {
      display: block;
      position: fixed;
      top: 0.5rem;
      left: 80.5vw;
      z-index: 20000;
    }
  }

  #schemeBtns {
    position: fixed;
    left: 0.25rem;
    top: 0.25rem;
    z-index: 10000;
  }
}

@media (orientation: portrait) {
  .main-container {
    background-color: black;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100vw;
  }
  .sub-stream-container {
    position: static;
    z-index: 10;
    width: 100%;
    height: 30vh;
  }
  .sub-stream-container iframe {
    width: 100%;
    height: 100%;
  }
  
  .main-stream-container {
    width: 100%;
    height: 30vh;
  }
  .main-stream-container iframe {
    z-index: 0;
    width: 100%;
    height: 100%;
  }
  
  .sync-stream-container {
    position: absolute;
    top: 18vw;
    width: 100%;
    height: 30vh;
  }
  .sync-stream-container iframe {
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  .sync-mode-placeholder {
    display: block;
    width: 100%;
    height: 18vw;
    background-color: gray;
  }

  .chat-container {
    width: 100vw;
    height: 60vh;
  }
  .chat-hidden {
    display: block;
  }
  .stream-with-chat {
    width: 100vw !important;
  }
  #chatToggleBtn {
    display: none;
  }


  #schemeBtns {
    position: fixed;
    left: 0.25rem;
    top: 0.25rem;
    z-index: 10000;
  }
}




#shiftBtns {
  visibility: hidden;
  position: fixed;
  top: 0.25rem;
  left: 40%;
  z-index: 10000;
}
.sync-stream-container #shiftBtns {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

#schemeBtns {
  opacity: 0.65;
}
@media (min-width: 991.98px) { #schemeBtns {opacity: 0.90;} }
#schemeBtns:hover {
  opacity: 0.90;
}

#replaysDropup {
  opacity: 0.65;
}
@media (min-width: 991.98px) { #replaysDropup {opacity: 0.90;} }
#replaysDropup:hover {
  opacity: 0.90;
}